.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  text-align: center;
}

.containerWelcome {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #CBA135;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  margin-top: 50px;
  color: #444444;
  font-weight: 600;
}

h3 {
  margin-bottom: 2px;
  color: #444444;
}

h5 {
  font-size: 36px;
  margin-top: 1px;
  margin-bottom: 10px;
  color: #CBA135;
  font-weight: 600;
}

h10 {
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #444444;
  font-weight: 600;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #CBA135;
}

a:visited {
  color: #CBA135; /* set the link color for visited links */
}

button {
  background-color: #CBA135;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;

}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  animation: loading 2s infinite;
  animation-timing-function: linear;
}

button:hover:before {
  left: 100%;
  transition: left 2s;
}

@keyframes loading {
  from {left: -100%;}
  to {left: 100%;}
}

/* Style the 'Sign In' button */
.styled-btn {
  font-size: 14px;
  padding: 10px 20px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
  transform: translateY(0);
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background-color: #CBA135;
  color: #fff;
  border-radius: 50px;
}

.styled-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.styled-btn:active {
  transform: translateY(0px);
  background-color: #fff;
  color: #000;
  box-shadow: none;
}

    /* Style the 'Sign Up' button */
.signup-btn {
  font-size: 14px;
  padding: 10px 20px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
  transform: translateY(0);
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background-color: #CBA135;
  color: #fff;
  border-radius: 50px;
}

.signup-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.signup-btn:active {
  transform: translateY(0px);
  background-color: #fff;
  color: #000;
  box-shadow: none;
}

 /* Style the 'Delete' button */
 .delete-btn {
  padding: 3px 20px;
  color: #fff;
  background-color: #CBA135;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 64px;
  padding: 0 24px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar__logo {
  font-size: 32px;
  font-weight: bold;
  color: #CBA135;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.container {
  max-width: 350px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 96px;
}

.container img {
  max-width: 95%;
  height: auto;
  border-radius: 2%;
}

form {
  padding: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}

textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border: none;
  background-color: #F5F5F5;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #CBA135;
}

input[type="text"], input[type="password"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border: none;
  background-color: #F5F5F5;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #CBA135;
}



.containerEvent {
  max-width: 250px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
}


.smallText {
  margin-bottom: 5px;
}